body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f8ff;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #007bff;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

td {
    text-align: center;
    padding: 8px;
}

input[type="number"] {
    width: 80%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.subject-control {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1px;
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
}

.icon-button {
    background-color: white;
    color: #007bff;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    background-color: #0056b3;
}

/* Flexbox for positioning the calculate button */
.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
}

.calculate-button {
    background-color: #007bff;
    color: white;
    padding: 11px 21px;
    border-radius: 4px;
}

.calculate-button:hover {
    background-color: #0056b3;
}

.result {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #e7f3fe;
    border: 1px solid #bee1f7;
    border-radius: 4px;
    color: #0056b3;
}
